<!-- src/app/compartido/componentes/tabla/tabla.component.html -->

<div class="tabla-contenedor">

    <table class="tabla">

        <thead class="tabla-encabezado">

            <tr>

                @for (columna of columnas(); track columna) {

                    <th class="tabla-columna">

                        {{ columna }}

                    </th>

                }

            </tr>

        </thead>

        <tbody class="tabla-cuerpo">

            @for (fila of filas(); track $index) {

                <tr class="tabla-fila">

                    @for (columna of columnas(); track columna) {

                        <td class="tabla-celda">

                            {{ fila[columna] }}

                        </td>

                    }

                </tr>

            }

        </tbody>

    </table>

</div>