<!-- src/app/compartido/componentes/formulario/formulario.component.html -->

<form
    class="formulario"
    [formGroup]="formulario"
    (ngSubmit)="enviar()">

    @for (campo of formularioServicio.campos(); track campo.nombre) {

        <div class="formulario-campo">

            <label
                class="formulario-etiqueta"
                [for]="campo.nombre">

                {{ campo.etiqueta }}

            </label>

            @switch (campo.tipo) {

                @case ('text') {

                    <input
                        class="formulario-control"
                        [id]="campo.nombre"
                        type="text"
                        [formControlName]="campo.nombre">

                }

                @case ('email') {

                    <input
                        class="formulario-control"
                        [id]="campo.nombre"
                        type="email"
                        [formControlName]="campo.nombre">

                }

                @case ('password') {

                    <input
                        class="formulario-control"
                        [id]="campo.nombre"
                        type="password"
                        [formControlName]="campo.nombre">

                }

                @case ('number') {

                    <input
                        class="formulario-control"
                        [id]="campo.nombre"
                        type="number"
                        [formControlName]="campo.nombre">

                }

                @case ('date') {

                    <input
                        class="formulario-control"
                        [id]="campo.nombre"
                        type="date"
                        [formControlName]="campo.nombre">

                }

                @case ('select') {

                    <select
                        class="formulario-control"
                        [id]="campo.nombre"
                        [formControlName]="campo.nombre">

                        @for (opcion of campo.opciones ?? []; track opcion.valor) {

                            <option [value]="opcion.valor">

                                {{ opcion.texto }}

                            </option>

                        }

                    </select>

                }

            }

        </div>

    }

    <div class="formulario-acciones">

        <button
            type="submit"
            class="boton boton-primario">

            {{ textoBoton() }}

        </button>

    </div>

</form>