<!-- src/app/compartido/componentes/modal/modal.component.html -->

@if (visible()) {

<div class="modal-fondo">

    <div class="modal">

        <header class="modal-encabezado">

            <h2 class="modal-titulo">

                {{ titulo() }}

            </h2>

        </header>

        <section class="modal-contenido">

            <p class="modal-texto">

                {{ mensaje() }}

            </p>

        </section>

        <footer class="modal-pie">

            <button
                type="button"
                class="boton boton-secundario"
                (click)="cancelarModal()">

                Cancelar

            </button>

            <button
                type="button"
                class="boton boton-primario"
                (click)="confirmar()">

                Aceptar

            </button>

        </footer>

    </div>

</div>

}