<!-- ==========================================================
     Ubicación:
     src/app/compartido/componentes/modal/modal.html
=========================================================== -->

@if (visible()) {

<div class="modal-fondo">

    <div class="modal">

        <header class="modal-encabezado">

            <h2>{{ titulo() }}</h2>

        </header>

        <section class="modal-contenido">

            <p>{{ mensaje() }}</p>

        </section>

        <footer class="modal-pie">

            <button
                type="button"
                (click)="cancelarModal()">

                Cancelar

            </button>

            <button
                type="button"
                (click)="confirmar()">

                Aceptar

            </button>

        </footer>

    </div>

</div>

}