<!-- ==========================================================
 Layout Principal Privado
=========================================================== -->

<main class="layout-privado">

    <!-- Encabezado -->
    <app-encabezado />

    <!-- Área principal -->
    <section class="layout-privado-principal">

        <!-- Menú -->
        <aside class="layout-privado-menu">

            <app-menu-lateral />

        </aside>

        <!-- Contenido -->
        <section class="layout-privado-contenido">

            <!-- Barra de herramientas -->
            <!-- <app-barra-herramientas /> -->

            <!-- Breadcrumb -->
            <!-- <app-breadcrumb /> -->

            <!-- Alertas -->
            <!-- <app-alertas /> -->

            <main class="contenido overflow-auto">

                

                <router-outlet />

            </main>

        </section>

    </section>

    <!-- Pie -->
    <app-pie-pagina />

</main>