<!-- ==========================================================
 Layout Principal Privado
=========================================================== -->

<main class="layout-privado">

    <app-encabezado />

    <section class="layout-privado-principal">

        <aside class="layout-privado-menu">
            <app-menu-lateral />
        </aside>

        <section class="layout-privado-contenido">

            <app-barra-herramientas></app-barra-herramientas>

            <!-- <app-breadcrumb /> -->

            <app-contenido />

            <!-- <app-alertas /> -->

        </section>

    </section>

    <app-pie-pagina />

</main>