
/* src/styles/temas/_bordes.scss */

:root {

    /*==========================================================================
        Radios
    ==========================================================================*/

    --radio-xs: .25rem;

    --radio-sm: .50rem;

    --radio-md: .75rem;

    --radio-lg: 1rem;

    --radio-xl: 1.50rem;

    --radio-pill: 999px;

    /*==========================================================================
        Bordes
    ==========================================================================*/

    --borde-fino: 1px solid var(--color-borde-secundario);

    --borde-medio: 2px solid var(--color-borde);

    --borde-grueso: 3px solid var(--gris-400);

    /*==========================================================================
        Colores
    ==========================================================================*/

    --borde-primario: var(--color-primario);

    --borde-secundario: var(--gris-500);

    --borde-exito: var(--color-exito);

    --borde-advertencia: var(--color-advertencia);

    --borde-peligro: var(--color-peligro);

}