/*
===============================================================================
 ESPACIADOS
-------------------------------------------------------------------------------
 Escala oficial de espaciados del sistema.
===============================================================================
*/

:root {

    /*==========================================================================
        Espaciados
    ==========================================================================*/

    --espaciado-0: 0;

    --espaciado-xs: .25rem;

    --espaciado-sm: .50rem;

    --espaciado-md: 1rem;

    --espaciado-lg: 1.50rem;

    --espaciado-xl: 2rem;

    --espaciado-2xl: 2.50rem;

    --espaciado-3xl: 3rem;

    --espaciado-4xl: 4rem;

    --espaciado-5xl: 5rem;

    /*==========================================================================
        Separaciones de Layout
    ==========================================================================*/

    --padding-layout: 1.50rem;

    --padding-tarjeta: 1.25rem;

    --padding-modal: 1.50rem;

    --padding-formulario: 1rem;

    /*==========================================================================
        Gap
    ==========================================================================*/

    --gap-xs: .25rem;

    --gap-sm: .50rem;

    --gap-md: 1rem;

    --gap-lg: 1.50rem;

    --gap-xl: 2rem;

    --gap-2xl: 3rem;

}