/* src/styles/temas/_modo-oscuro.scss */

[data-tema="oscuro"] {

    --color-fondo: var(--gris-950);
    --color-superficie: var(--gris-900);
    --color-superficie-secundaria: var(--gris-800);
    --color-superficie-hover: var(--gris-700);

    --color-texto: var(--gris-100);
    --color-texto-secundario: var(--gris-300);
    --color-texto-claro: var(--gris-400);
    --color-texto-inverso: var(--blanco);
    --color-placeholder: var(--gris-500);

    --color-borde: var(--gris-700);
    --color-borde-secundario: var(--gris-600);
    --borde-fino: 1px solid var(--color-borde);

    --color-menu: var(--gris-950);
    --color-menu-texto: var(--gris-100);
    --color-menu-texto-secundario: var(--gris-400);
    --color-menu-hover: var(--color-primario-900);
    --color-menu-activo: var(--color-primario-800);
    --color-menu-borde-activo: var(--color-primario-300);
    --color-menu-scroll: var(--gris-600);

    --menu-fondo: var(--color-menu);
    --menu-texto: var(--color-menu-texto);
    --menu-texto-secundario: var(--color-menu-texto-secundario);
    --menu-hover: var(--color-menu-hover);
    --menu-activo: var(--color-menu-activo);
    --menu-borde-activo: var(--color-menu-borde-activo);
    --menu-icono: var(--color-menu-texto-secundario);
    --menu-borde: var(--color-borde);
    --menu-scroll: var(--color-menu-scroll);

    --color-encabezado: var(--gris-900);
    --color-encabezado-hover: var(--gris-800);

    --color-tarjeta: var(--gris-900);
    --color-tarjeta-hover: var(--gris-800);

    /*==========================================================================
    Botones
==========================================================================*/

--color-boton-primario: var(--color-primario-500);
--color-boton-primario-hover: var(--color-primario-400);
--color-boton-primario-texto: var(--blanco);

--color-boton-secundario: var(--gris-700);
--color-boton-secundario-hover: var(--gris-600);
--color-boton-secundario-texto: var(--blanco);

--color-boton-exito: var(--color-exito);
--color-boton-exito-hover: var(--color-exito-400);
--color-boton-exito-texto: var(--blanco);

--color-boton-advertencia: var(--color-advertencia);
--color-boton-advertencia-hover: var(--color-advertencia-400);
--color-boton-advertencia-texto: var(--blanco);

--color-boton-peligro: var(--color-peligro);
--color-boton-peligro-hover: var(--color-peligro-400);
--color-boton-peligro-texto: var(--blanco);

--color-boton-texto: var(--color-primario-300);
--color-boton-texto-hover: rgba(96, 165, 250, .12);

    --color-input: var(--gris-900);
    --color-input-hover: var(--gris-800);
    --color-input-borde: var(--gris-700);
    --color-input-focus: var(--color-primario-400);

    --color-tabla-encabezado: var(--gris-800);
    --color-tabla-fila: var(--gris-900);
    --color-tabla-hover: var(--gris-800);

    --color-modal: var(--gris-900);
    --color-backdrop: rgba(0, 0, 0, .65);

}