:root {

    /* Colores */

    --color-primario: #2563eb;
    --color-secundario: #1e293b;

    --color-fondo: #f5f7fa;

    --color-superficie: #ffffff;

    --color-texto: #1f2937;

    /* Espaciados */

    --espaciado-xs: .25rem;
    --espaciado-sm: .5rem;
    --espaciado-md: 1rem;
    --espaciado-lg: 1.5rem;
    --espaciado-xl: 2rem;

    /* Layout */

    --altura-header: 64px;
    --altura-footer: 40px;

    --ancho-menu: 260px;
}