<!-- src/app/compartido/componentes/paginacion/paginacion.component.html -->

<nav class="paginacion">

    <button
        type="button"
        class="boton boton-secundario"
        (click)="anterior()"
        [disabled]="!puedeRetroceder()">

        Anterior

    </button>

    <span class="paginacion-informacion">

        Página {{ paginaActual() }} de {{ totalPaginas() }}

    </span>

    <button
        type="button"
        class="boton boton-primario"
        (click)="siguiente()"
        [disabled]="!puedeAvanzar()">

        Siguiente

    </button>

</nav>